@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-fonts{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-item{
    display: flex;
}
/* dark 03 */
.text-grey{
    color: #727272;
}
/* dark 03 */
.text-light-grey{
    color: rgba(114, 114, 114, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    margin-bottom: 50px;
    cursor: pointer;
}
/* header style */

/* navbar related style */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.navbar .brand{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}

/* banner related style*/
.banner-content{
    max-width: 855px;
    margin: 0 auto;
    text-align: center;
}

.banner-description{
    margin-bottom: 35px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
    margin-bottom: 45px;
}